doctype html
html
  include pug/head.pug
  body
    include pug/nav.pug
    p example content for <%= appName %>
    p <%= appDescription %>
  <% if(frameworks.includes('includeBootstrap')) { %>script(src='js/bootstrap.js', type='text/rocketscript')<% } %>
  <% if(frameworks.includes('includeJQuery')) { %>script(src='js/jquery.js', type='text/rocketscript')<% } %>
  <% if(frameworks.includes('includeMDBootstrap')) { %>script(src='js/mdb.min.js', type='text/rocketscript')<% } %>
